@use '../../base';

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 22px;
    gap: 22px;

    p {
        font-size: 24px;
    }

    img {
        width: 380px;
        border-radius: 20px;
    }

    .welcome-buttons {
        display: flex;
        flex-direction: column;

        .signup-btn, .signin-btn {
            width: 400px;
            height: 60px;
            border-radius: 20px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }

        .signup-btn {
            background-color: base.$primaryColor;
            border: none;
        }

        .signin-btn {
            background-color: white;
            margin-top: 12px;
            border: 1px solid base.$gray;
        }

    }
}

@media (min-width: 600px) {
    .welcome {
        width: 40%;
        margin: 22px auto;

        img {
            width: 100%;
        }
    }
}