@use '../../base';

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    position: relative;
    width: 400px;
    height: 60px;
    margin: auto;
    margin-top: 22px;
    
    input[type="text"] {
        border: 2px solid base.$gray;
        border-radius: 20px;
        height: 60px;
        width: 400px;
        font-size: 24px;
        padding-left: 22px;
    }

    button {
        width: 36px;
        height: 36px;
        border: none;
        background-color: #bbb;
        border-radius: 5px;

        position: relative;
        top: -48px;
        left: 350px;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 24px;
            width: 24px; 
            
        }
    }
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    // margin-left: 16px;
    margin-top: 22px;
    gap: 20px;
    justify-content: center;
    max-width: 600px;
}

.loading {
    width: 48px;
    height: 48px;
    align-self: center;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    align-self: center;
    margin-top: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}