@use '../../base';

.addBookModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80vw;
    height: 60vh;
    max-height: 400px;
    max-width: 600px;

    background-color: base.$secondaryColor;
}
