@use './base';


.content {
    margin-top: 22px;

    .addBookBtn, .cancelBtn {
        background-color: base.$primaryColor;
        width: 400px;
        height: 60px;
        border-radius: 20px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .cancelBtn {
        background-color: base.$secondaryColor;
        color: white;
    }
}
